<?xml version="1.0" encoding="utf-8"?>

<launch>

    <include file="$(find rover_bringup)/launch/map.launch"/>
    <include file="$(find rover_bringup)/launch/rviz.launch"/>	
    <include file="$(find rover_bringup)/launch/scanmatcher.launch"/>	
    <include file="$(find rover_bringup)/launch/amcl.launch"/>	
    <include file="$(find rover_bringup)/launch/move_base.launch"/>


</launch>
