<?xml version="1.0"?>
<launch>


  <node name="sick_tim571_2050101" pkg="sick_tim" type="sick_tim551_2050001" respawn="false" output="screen">


    <param name="range_max" type="double" value="25.0" />
    <param name="frame_id" type="str" value="laser_link" />
    <param name="hostname" type="string" value="192.168.0.1" />
    <param name="port" type="string" value="2112" />
    <param name="timelimit" type="int" value="5" />
    
  </node>
</launch>
